<!DOCTYPE html>
<html lang="en">
<head>
    {% block style %}  {% endblock %}
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
    <div id="icon">
        <img src="">
    </div>
    
    <div id="questBox">

    </div>

</body>
</html>

<!-- 

Notes: 

One question appearing at a time?

Preference for type of pop up? Is the pop up interactive as well or just a notice?
Edgecase for qest1: just the two opts, or should it expand? Should it force a yes?








 -->