<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<style>
			.hide {
				display: none;
			}

			#icon {
				width:fit-content;
				height:fit-content;
			}
		</style>

		<title>Level 3 Application</title>
	</head>
	<body>
		<div class="container">
			<div id="icon" class="row">
				<img src="/static/imgs/BANRlogo.png">
			</div>
			<h3 class="row">LEVEL 3 APPLICATION</h3> 

			<div id="quest1" class="container">
				<label class="row">Do you love work?</label>
				<form class="row">
					<label class="col">
						<input type="radio" value="a">a. Yes
					</label>
					<label class="col">
						<input type="radio" value="b">b. No
					</label>
				</form>
			</div>

			<div id="quest2" class="container" class="hide">
				<label class="row">Do you thrive in a fast paced environment?</label>
				<form class="row">
					<label class="col">
						<input type="radio" value="a">a. Yes
					</label>
					<label class="col">
						<input type="radio" value="b">b. No
					</label>
				</form>
			</div>

			<div id="quest3" class="container" class="hide">
				<label class="row">We love you! Do you love us?</label>
				<form class="row">
					<label class="col">
						<input type="radio" value="a">a. Yes!
					</label>
					<label class="col">
						<input type="radio" value="b">b. That's nice of you to say
					</label>
				</form>
			</div>

			<div id="quest4" class="container" class="hide">
				<label class="row">We value commitment here at BANR. Please commit to clicking and holding this button for 5 seconds.
					<button>BUTTON</button>
				</label>
			</div>

			<div id="quest5" class="container" class="hide">
				<label class="row">We're not a group of workers, we're a BANR family, which family member are you?</label>
				<form class="container">
					<label class="row">
						<input type="radio" value="a">a. Snide father
					</label>
					<label class="row">
						<input type="radio" value="b">b. Joyful mother
					</label>
					<label class="row">
						<input type="radio" value="c">c. Estranged uncle
					</label>
					<label class="row">
						<input type="radio" value="d">d. Loyal, slightly overweight dog
					</label>
					<label class="row">
						<input type="radio" value="e">e. Wacky, untethered aunt
					</label>
				</form>
			</div>

			<div id="quest6" class="container" class="hide">
				<label class="row">Where do you see yourself in 5 years?</label>
				<form class="container">
					<label class="row">
						<input type="radio" value="a">a. BANR
					</label>
					<label class="row">
						<input type="radio" value="b">b. BANR
					</label>
					<label class="row">
						<input type="radio" value="c">c. BANR
					</label>
					<label class="row">
						<input type="radio" value="d">d. BANR
					</label>
				</form>
			</div>

			<div id="quest7" class="container" class="hide">
				<label class="row">How much coffee have you had today?</label>
				<form class="container">
					<label class="row">
						<input type="radio" value="a">a. I am present and comfortably energized
					</label>
					<label class="row">
						<input type="radio" value="b">b. 	Don't talk to me you're moving too slow for my little coffee brain
					</label>
					<label class="row">
						<input type="radio" value="c">c. I forgot to eat earlier and now I am about to jump out of my fucking skin
					</label>
					<label class="row">
						<input type="radio" value="d">d. Am I dying? There's water in coffee right? RIGHT?!
					</label>
					<label class="row">
						<input type="radio" value="e">e. I have transcended. I am the purest form of light. I no longer need material objects, maybe one more coffee
					</label>
				</form>
			</div>

			<div id="quest8" class="container" class="hide">
				<label class="row">
					Close your eyes. Feel the warm air against your skin. 
					Remember when you were a child of the summer. 
					The feeling of the sun pressing against you, the wind breathing life into you. 
					Remember when you played pretend in the woods. You had a treehouse. 
					It was a pirate ship, a mansion, and a secret base. You were a princess. You were a dragon. 
					Your laugh was loud and unafraid. You were innocent. 
					You measured each day by the strength of sunlight. 
					You measured each night by the number of stars and the drifting weight of your eyelids. 
					You closed your eyes and dreamed of magic. What happened to you?
				</label>
				<form class="row">
					<label class="col">
						<input type="radio" value="a">a. Too much
					</label>
					<label class="col">
						<input type="radio" value="b">b. Not enough
					</label>
				</form>
			</div>

			<div id="closer" class="row" class="hide">
				(Yay! After reviewing your answers, we would love to offer you a position with BANR Level 3! This is an exciting opportunity for us. And for you, I guess. As a way of saying thank you for your devotion, here's a special gift…

				Enter the code “SINCEDAYONE” when purchasing your ticket to receive a discount)
			</div>

		</div>
		<script src="jobApp.js"></script>
	</body>
</html>
			